services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hdfs-namenode
    environment:
      - CLUSTER_NAME=kappa-cluster
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - namenode:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hdfs-datanode
    depends_on:
      - namenode
    volumes:
      - datanode:/hadoop/dfs/data

  spark:
    image: apache/spark:4.1.0-scala2.13-java21-python3-r-ubuntu
    container_name: spark
    command: >
      bash -c "/opt/spark/sbin/start-master.sh &&
              tail -f /opt/spark/logs/*"
    ports:
      - "8080:8080"
      - "7077:7077"


  spark-worker:
    image: apache/spark:4.1.0-scala2.13-java21-python3-r-ubuntu
    container_name: spark-worker
    command: >
      bash -c "/opt/spark/sbin/start-worker.sh spark://spark:7077 &&
              tail -f /opt/spark/logs/*"
    depends_on:
      - spark




  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"

volumes:
  namenode:
  datanode:
